<!DOCTYPE html>{#

    run server/expand.js to instantiate this template
    -------------------------------------------------
#}
<html>
<head>
    <meta charset="utf-8"/>
    <title>{{__('about earth')}}</title>
    <link rel="shortcut icon" href="/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css"/>


</head>
<body>

    <div id="about">
        <div>
            <a href="./" class="internal-link"><img id="cover" src="/cover.jpg"/></a>
        </div>
        <h1><a href="./" class="internal-link">{{__('earth')}}</a></h1>
        <div class="blurb">
            <p class="center">{{__('a visualization of global weather conditions')}}</p>
            <p class="center">{{__('forecast by supercomputers')}}</p>
            <p class="center">{{__('updated every three hours')}}</p>
            <p class="center">&nbsp;</p>
            <p class="center">{{__("ocean surface current estimates")}}</p>
            <p class="center">{{__("updated every five days")}}</p>
        </div>
        <div>
            <p class="left">{{__('Community')}} |</p>
            <p class="right">&nbsp;<a href="https://www.facebook.com/EarthWindMap">Facebook Page</a></p>
        </div>
        <div>
            <p class="left">{{__('Author')}} |</p>
            <p class="right">&nbsp;Cameron Beccario <a href="https://twitter.com/cambecc">@cambecc</a></p>
        </div>
        <div>
            <p class="left">{{__('Source')}} |</p>
            <p class="right">&nbsp;<a href="https://github.com/cambecc/earth">github.com/cambecc/earth</a></p>
        </div>
        <div>
            <p class="left">{{__('Modules')}} |</p>
            <p class="right">&nbsp;<a href="http://d3js.org/">D3.js</a>,
                <a href="http://backbonejs.org/">backbone.js</a>,
                <a href="https://github.com/cujojs/when">when.js</a>,
                <a href="http://nodejs.org">node.js</a>
            </p>
        </div>
        <div>
            <p class="left">{{__('Weather Data')}} |</p>
            <p class="right">&nbsp;Global Forecast System<br/>&nbsp;<a
                href="http://www.emc.ncep.noaa.gov">{{__('NCEP / National Weather Service / NOAA')}}</a>
            </p>
        </div>
        <div>
            <p class="left">{{__('Ocean Currents Data')}} |</p>
            <p class="right">&nbsp;OSCAR<br/>&nbsp;<a
                href="http://www.esr.org/oscar_index.html">{{__('Earth & Space Research')}}</a>
            </p>
        </div>
        <div>
            <p class="left">{{__('GRIB/NetCDF Decoder')}} |</p>
            <p class="right">&nbsp;<a href="https://github.com/Unidata/thredds">UCAR/Unidata THREDDS</a></p>
        </div>
        <div>
            <p class="left">{{__('Geographic Data')}} |</p>
            <p class="right">&nbsp;<a href="http://www.naturalearthdata.com">Natural Earth</a></p>
        </div>
        <div>
            <p class="left">{{__('Hosting')}} |</p>
            <p class="right">&nbsp;<a href="https://www.cloudflare.com">CloudFlare</a>,
                <a href="http://aws.amazon.com/s3">Amazon S3</a></p>
        </div>
        <div>
            <p class="left">{{__('Font')}} |</p>
            <p class="right">&nbsp;<a href="http://mplus-fonts.sourceforge.jp/">M+ FONTS</a>,
                <a href="http://drinchev.github.io/monosocialiconsfont/">Mono Social Icons Font</a>
            </p>
        </div>
        <div>
            <p class="left">{{__('Waterman Butterfly')}} |</p>
            <p class="right">&nbsp;<a href="http://watermanpolyhedron.com/">watermanpolyhedron.com</a></p>
        </div>
        <div>
            <p class="left">{{__('Earlier Work')}} |</p>
            <p class="right">&nbsp;<a href="http://air.nullschool.net">{{__('Tokyo Wind Map')}}</a></p>
        </div>
        <div>
            <p class="left">{{__('Inspiration')}} |</p>
            <p class="right">&nbsp;<a href="http://hint.fm/wind">HINT.FM wind map</a></p>
        </div>
        <div class="blurb">
            <p class="center">{{__('atmospheric pressure corresponds roughly to altitude')}}</p>
            <p class="center">{{__('several pressure layers are meteorologically interesting')}}</p>
            <p class="center">{{__('they show data assuming the earth is completely smooth')}}</p>
            <p class="center">{{__('note: 1 hectopascal (hPa) ≡ 1 millibar (mb)')}}</p>
        </div>
        <div>
            <p class="left">1000 hPa |</p>
            <p class="right">&nbsp;<span class="pad">00,</span>~100 m, {{__('near sea level conditions')}}</p>
        </div>
        <div>
            <p class="left"> 850 hPa |</p>
            <p class="right">&nbsp;<span class="pad">0</span>~1,500 m, <a
                href="{{__('http://en.wikipedia.org/wiki/Planetary_boundary_layer')}}"
                >{{__('planetary boundary')}}</a>{{__(', low')}}
            </p>
        </div>
        <div>
            <p class="left"> 700 hPa |</p>
            <p class="right">&nbsp;<span class="pad">0</span>~3,500 m, {{__('planetary boundary')}}{{__(', high')}}</p>
        </div>
        <div>
            <p class="left"> 500 hPa |</p>
            <p class="right">&nbsp;<span class="pad">0</span>~5,000 m, <a
                href="{{__('http://en.wikipedia.org/wiki/Vorticity')}}">{{__('vorticity')}}</a>
            </p>
        </div>
        <div>
            <p class="left"> 250 hPa |</p>
            <p class="right">&nbsp;~10,500 m, <a
                href="{{__('http://en.wikipedia.org/wiki/Jet_stream')}}">{{__('jet stream')}}</a>
            </p>
        </div>
        <div>
            <p class="left">  70 hPa |</p>
            <p class="right">&nbsp;~17,500 m, <a
                href="{{__('http://en.wikipedia.org/wiki/Stratosphere')}}">{{__('stratosphere')}}</a>
            </p>
        </div>
        <div>
            <p class="left">  10 hPa |</p>
            <p class="right">&nbsp;~26,500 m, {{__('even more stratosphere')}}</p>
        </div>
        <div class="blurb">
            <p class="center">{{__('the "Surface" layer represents conditions at ground or water level')}}</p>
            <p class="center">{{__('this layer follows the contours of mountains, valleys, etc.')}}</p>
            <p class="center">&nbsp;</p>
            <p class="center">{{__('overlays show another dimension of data using color')}}</p>
            <p class="center">{{__('some overlays are valid at a specific height')}}</p>
            <p class="center">{{__('while others are valid for the entire thickness of the atmosphere')}}</p>
        </div>
        <div>
            <p class="left">{{__('Wind')}} |</p>
            <p class="right">&nbsp;{{__('wind speed at specified height')}}</p>
        </div>
        <div>
            <p class="left">{{__('Temp')}} |</p>
            <p class="right">&nbsp;{{__('temperature at specified height')}}</p>
        </div>
        <div>
            <p class="left">{{__('TPW')}} (<a href="{{__('http://en.wikipedia.org/wiki/Precipitable_water')}}"
                >{{__('Total Precipitable Water')}}</a>) |</p>
            <p class="right">
                &nbsp;{{__('total amount of water in a column of air')}}<br/>
                &nbsp;{{__('stretching from ground to space')}}
            </p>
        </div>
        <div>
            <p class="left">{{__('TCW')}} ({{__('Total Cloud Water')}}) |</p>
            <p class="right">
                &nbsp;{{__('total amount of water in clouds')}}<br/>
                &nbsp;{{__('in a column of air from ground to space')}}
            </p>
        </div>
        <div>
            <p class="left">{{__('MSLP')}} (<a
                    href="{{__('http://en.wikipedia.org/wiki/Atmospheric_pressure#Mean_sea_level_pressure')}}"
                >{{__('Mean Sea Level Pressure')}}</a>) |</p>
            <p class="right">&nbsp;{{__('air pressure reduced to sea level')}}</p>
        </div>
        <div class="blurb">
            <a href="http://www.naturalearthdata.com"><img src="/natural-earth.jpg"/></a>
            <a href="https://www.cloudflare.com"><img src="/cf-gray.jpg"/></a>
        </div>
        <div id="closing">
            <p class="center">{{__('weather and ocean data are generated from numerical models')}}</p>
            <p class="center">
            </p>
        </div>
    </div>

    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() { (i[r].q = i[r].q || []).push(arguments); }, i[r].l = 1 * new Date();
            a = s.createElement(o), m = s.getElementsByTagName(o)[0];
            a.async = 1; a.src = g; m.parentNode.insertBefore(a, m);
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-44235933-2', 'nullschool.net');
        ga('send', 'pageview');
    </script>

</body>
</html>
